body {
    background-color: black;
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 650px) {
    body {
        width: 90%;
    }
}

/* ---------- Separators ---------- */

.separator-horizontal {
    color: #5f85db;
    background-color: #5f85db;
    height: 2px;
    border-width: 0;
}

.separator-vertical {
    color: #5f85db;
    background-color: #5f85db;
    width: 2px;
    border-width: 0;
}

/* ---------- Typos ---------- */

.title {
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.title-highlight {
    color: #5f85db;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

@media only screen and (max-width: 650px) {
    .title {
        /* font-size: 32px; */
        font-size: 8vw;
    }

    .title-highlight {
        /* font-size: 18px; */
        font-size: 5.9vw;
    }
}

.social-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin-left: 24px;
}

.social-link:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 650px) {
    .social-link {
        font-size: 3.0vw;
    }
}

.strong {
    color: white;
    /* font-size: 2.8vw; */
    font-size: 2.4vw;
    font-family: Arial, Helvetica, sans-serif;
}

.strong .social-link {
    color: #5f85db;
    /* font-size: 2.8vw; */
    font-size: 2.4vw;
    text-decoration: underline;
    margin: 0;
}

.strong .social-link:hover {
    background-color: #5f85db;
    color: white;
}

@media only screen and (max-width: 320px) {
    .strong {
        font-size: 4.8vw;
    }

    .strong .social-link {
        font-size: 4.8vw;
    }
}

@media only screen and (min-width: 321px) and (max-width: 650px) {
    .strong {
        font-size: 5.2vw;
    }

    .strong .social-link {
        font-size: 5.2vw;
    }
}

.header {
    color: white;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.text {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 650px) {
    .header {
        font-size: 5.9vw;
    }

    .text {
        font-size: 2.8vw;
    }
}

/* ---------- Landing Screen ---------- */

.landing-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

@media only screen and (max-width: 650px) {
    .landing-container {
        height: calc(100vh - 64px);
        margin-bottom: 24px;
    }
}

img {
    pointer-events: none;
}

/* ---------- Header ---------- */

.header-container {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 2vh;
}

.title-container {
    display: flex;
    align-items: flex-start;
}

.socials-container {
    display: flex;
}

@media only screen and (max-width: 650px) {
    .header-container {
        margin-top: 32px;
        flex-direction: column;
        align-items: center;
    }

    .title-container {
        flex-direction: column;
        margin-bottom: 24px;
    }

    .header-container .social-link {
        margin-left: 12px;
        margin-right: 12px;
    }
}

/* ---------- Introduction ---------- */

.intro-container {
    display: flex;
    width: 95%;
}

.intro-line {
    width: 48px;
    display: flex;
}

.intro-description {
    padding-left: 48px;
}

.intro-image {
    width: 250px;
    max-width: 20vw;
    /* width: 20vw; */
    height: auto;
    margin-top: 10vh;
}

@media only screen and (max-width: 320px) {
    .intro-image {
        width: 36vw;
        max-width: unset;
        margin-top: 6vh;
    }
}

@media only screen and (min-width: 321px) and (max-width: 650px) {
    .intro-image {
        width: 36vw;
        max-width: unset;
        margin-top: 6vh;
    }
}

@media only screen and (max-width: 650px) {
    .intro-container {
        width: 90%;
    }

    .intro-line {
        width: 24px;
    }

    .intro-description {
        padding-left: 24px;
    }
}

/* ---------- Arrow ---------- */

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    width: 12px;
    height: 12px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media only screen and (max-width: 650px) {
    .arrow-container {
        margin-bottom: 24px;
    }

    .arrow {
        width: 6px;
        height: 6px;
    }
}

/* ---------- Print ---------- */

.print-container {
    display: flex;
    align-items: flex-start;
    width: 96%;
    margin: auto;
    margin-bottom: 96px;
}

.print-image {
    max-height: 90vh;
    max-width: 60%;
}

.print-description {
    padding-top: 12px;
    padding-left: 48px;
    align-self: flex-end;
}

@media only screen and (max-width: 650px) {
    .print-container {
        margin-bottom: 48px;
    }
    
    .print-description {
        padding-left: 12px;
    }
}

/* ---------- Footer ---------- */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 64px;
}

.footer-container .text {
    margin-bottom: 0px;
}

@media only screen and (max-width: 650px) {
    .footer-container {
        margin-top: 24px;
        margin-bottom: 32px;
    }
}