body {
    background-color: black;
    width: 60%;
    margin: auto;
}

@media only screen and (min-width: 651px) and (max-width: 1200px) {
    body {
        width: 80%;
    }
}

@media only screen and (max-width: 650px) {
    body {
        width: 90%;
    }
}

/* ---------- Separators ---------- */

.separator-horizontal {
    color: #5f85db;
    background-color: #5f85db;
    height: 2px;
    border-width: 0;
}

.separator-vertical {
    color: #5f85db;
    background-color: #5f85db;
    width: 2px;
    border-width: 0;
}

/* ---------- Typos ---------- */

.title {
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.title-highlight {
    color: #5f85db;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

@media only screen and (max-width: 650px) {
    .title {
        font-size: 8.4vw;

    }

    .title-highlight {
        font-size: 8.4vw;
    }
}

.social-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin-left: 24px;
}

.social-link:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 650px) {
    .social-link {
        font-size: 3.0vw;
    }
}

.strong {
    color: white;
    font-size: 2.4vw;
    font-family: Arial, Helvetica, sans-serif;
}

.strong .social-link {
    color: #5f85db;
    font-size: 2.4vw;
    text-decoration: underline;
    margin: 0;
}

.strong .social-link:hover {
    background-color: #5f85db;
    color: white;
}

@media only screen and (min-width: 651px) and (max-width: 1200px) {
    .strong {
        font-size: 3.2vw;
    }

    .strong .social-link {
        font-size: 3.2vw;
    }
}


@media only screen and (max-width: 650px) {
    .strong {
        font-size: 6.2vw;
        margin: 0;
        margin-bottom: 24px;
        margin-left: 12px;
    }

    .strong .social-link {
        font-size: 6.2vw;
        margin: 0;
        margin-bottom: 24px;
    }
}

.header {
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.text {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 650px) {
    .header {
        font-size: 6.2vw;
    }

    .text {
        font-size: 3.4vw;
    }
}

/* ---------- Landing Screen ---------- */

.landing-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

@media only screen and (max-width: 650px) {
    .landing-container {
        height: unset;
        margin-bottom: 24px;
    }
}

img {
    pointer-events: none;
}

/* ---------- Header ---------- */

.header-container {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 2vh;
}

.title-container {
    display: flex;
    align-items: flex-end;
}

.socials-container {
    display: flex;
}

@media only screen and (max-width: 650px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        margin-top: 18px;
        margin-bottom: 0px;
    }

    .title-container {
        margin-bottom: 12px;
    }

    .header-container .social-link {
        margin-right: 12px;
        margin-left: 0px;
    }
}

/* ---------- Introduction ---------- */

.intro-container {
    display: flex;
    width: 90%;
}

.intro-line {
    width: 48px;
    display: flex;
}

.intro-description {
    padding-left: 48px;
}

.intro-image {
    width: 250px;
    max-width: 20vw;
    height: auto;
    margin-top: 10vh;
}

@media only screen and (max-width: 650px) {
    .intro-container {
        width: 100%;
        margin-bottom: 32px;
    }

    .intro-line {
        margin-top: auto;
        width: 12px;
        height: 48vw;
        max-height: 260px;
    }

    .intro-description {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        /* padding-left: 12px; */
    }

    .intro-image {
        align-self: center;
        width: 68vw;
        max-width: unset;
        margin-top: 8vh;
        margin-bottom: 8vh;
        margin-right: 6px;
    }
}

/* ---------- Arrow ---------- */

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    width: 12px;
    height: 12px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media only screen and (max-width: 650px) {
    .arrow-container {
        visibility: hidden;
        height: 0px;
        margin-bottom: 0px;
    }

    .arrow {
        width: 0px;
        height: 0px;
    }
}

/* ---------- Print ---------- */

.print-container {
    display: flex;
    align-items: flex-start;
    width: 96%;
    margin: auto;
    margin-bottom: 96px;
}

.print-title-wrapper {
    width: auto;
}

.print-image {
    max-height: 90vh;
    max-width: 60%;
}

.print-description {
    padding-top: 12px;
    padding-left: 48px;
    align-self: flex-end;
}

@media only screen and (max-width: 650px) {
    .print-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;
    }

    .print-title-wrapper {
        width: fit-content;
    }

    .print-image {
        max-height: 90vh;
        max-width: 100%;
    }
    
    .print-description {
        /* padding-left: 0px; */
        padding-left: 12px;
        align-self: flex-start;
    }
}

/* ---------- Footer ---------- */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 64px;
}

.footer-container .text {
    margin-bottom: 0px;
}

@media only screen and (max-width: 650px) {
    .footer-container {
        margin-top: 24px;
        margin-bottom: 32px;
    }
}